{% extends "registration/base.html" %}
{% load static %}
{% block content %}
<main id="content" role="main" class="main">
    <div class="position-fixed top-0 right-0 left-0 bg-img-hero" style="height: 32rem; background-image: url({% static 'assets/svg/components/abstract-bg-4.svg' %});">
      <!-- SVG Bottom Shape -->
      <figure class="position-absolute right-0 bottom-0 left-0">
        <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1921 273">
          <polygon fill="#fff" points="0,273 1921,273 1921,0 "/>
        </svg>
      </figure>
      <!-- End SVG Bottom Shape -->
    </div>

    <!-- Content -->
    <div class="container py-5 py-sm-7">
  

      <div class="row justify-content-center mt-5">
        <div class="col-md-7 col-lg-5">
          <!-- Card -->
          <div class="card card-lg mb-5">
            <div class="card-body">
              <!-- Form -->
              <form class="js-validate" action="{% url 'core:login' %}" method="POST">
                {% csrf_token %}
                <div class="text-center">
                  <div class="mb-5">
                    <h1 class="display-4">Ingresar</h1>                    
                  </div>                  
                </div>

                <!-- Form Group -->
                <div class="js-form-message form-group">
                  <label class="input-label" for="signinSrEmail">Email</label>
                  {{ form.username }}
                  {{ form.errors.username }}                  
                </div>
                <!-- End Form Group -->

                <!-- Form Group -->
                <div class="js-form-message form-group">
                  <label class="input-label" for="signupSrPassword" tabindex="0">
                    <span class="d-flex justify-content-between align-items-center">
                      Contraseña
                      <a class="input-label-secondary" href="authentication-reset-password-basic.html">Olvidaste tu contraseña?</a>
                    </span>
                  </label>

                  <div class="input-group input-group-merge">
                    {{ form.password }}
                    {{ form.errors.password }}
                    <div id="changePassTarget" class="input-group-append">
                      <a class="input-group-text" href="javascript:;">
                        <i id="changePassIcon" class="tio-visible-outlined"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <!-- End Form Group -->

                <!-- Checkbox -->
                <div class="form-group">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="termsCheckbox" name="termsCheckbox">
                    <label class="custom-control-label text-muted" for="termsCheckbox">Recordarme</label>
                  </div>
                </div>
                <!-- End Checkbox -->

                <button type="submit" class="btn btn-lg btn-block btn-primary">Ingresar</button>
              </form>
              <!-- End Form -->
            </div>
          </div>
          <!-- End Card -->

        </div>
      </div>
    </div>
    <!-- End Content -->
  </main>
{% endblock %}